$def with (user, UserGroup, views, users, userGroups, ManageUser, CreateUserGroup, CreateUser, ModifUser)

<html>
<body>
<table >
<h1>管理用户</h1>

<!-- 管理用户选项 -->
$if views.isHasAttr("manage_user_option"):
    <tr><td>
        $:views.manage_user_option
    </td></tr>

<!-- 用户列表 -->
$if user.isHavePms(UserGroup.PERMISSION_USER_LIST):
    <tr><td>
        <table border="1">
            <caption>用户列表</caption>
            <tr>
                <!-- 表头 -->
                <th>操作</th>
                <th>用户名</th>
                <th>用户组</th>
            </tr>
            <form name="input" action=$ModifUser.URL method="POST">
            $for u in users:
                <tr>
                    <td>
                        <!-- 指定跳转到修改用户信息的页面的信息 -->
                        <input type="radio" name=$ModifUser.uname value=$u.username />
                    </td>
                    <td>$u.username</td>
                    <td>$','.join(u.getUGNames())</td>
                </tr>
            <!-- 提交按钮 -->
            <tr><td><input type="submit" value="修改" /></td></tr>
            </form>
        </table>
    </td></tr>

<!-- 用户组列表 -->
$if user.isHavePms(UserGroup.PERMISSION_USER_GROUP_LIST):
    <tr><td>
        <table border="1">
            <caption>用户组列表</caption>
            <tr>
                <th>用户组</th>
                <th>权限</th>
            </tr>
            $for ug in userGroups:
                <tr>
                    <td>$ug.name</td>
                    <!-- 用户组权限列表 -->
                    <td>
                        <table>
                            <tr>
                            $for i,pmn in enumerate(ug.getPmsName()):
                                <td>$pmn;</td>
                                $if (i+1) % 5 == 0:</tr><tr>
                            </tr>

                        </table>
                    </td>
                </tr>
        </table>
    </td></tr>

<!-- 创建用户组 -->
$if user.isHavePms(UserGroup.PERMISSION_CREATE_USER_GROUP):
    <tr><td>
        <table border="1">
            <form name="input" action=$CreateUserGroup.URL method="POST">
            <caption>创建用户组</caption>
            <tr>
                <th>组名</th>
                <th>权限</th>
            </tr>
            <tr>
                <td><input type="text" name=$CreateUserGroup.ugname /></td>
                <td>
                    <table>
                        <tr>
                            $for i, pm in enumerate(UserGroup.getPmNames()):
                                <td><input type="checkbox" name=$pm />$pm</td>
                                $if (i+1) % 5 == 0:</tr><tr>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="创建用户组" /></td>
            </tr>
            </form>
        </table>
    </td></tr>

<!-- 创建用户 -->
$if user.isHavePms(UserGroup.PERMISSION_CREATE_USER):
    <tr><td>
        <table border="1">
            <form name="input" action=$CreateUser.URL method="POST">
            <caption>创建用户</caption>
            <tr>
                <th>用户名名</th>
                <th>密码</th>
                <th>权限</th>
            </tr>
            <tr>
                <td><input type="text" name=$CreateUser.name /></td>
                <td><input type="text" name=$CreateUser.passwd /></td>
                <td>
                    <table>
                        <tr>
                            $for i, ug in enumerate(UserGroup.all()):
                                <td><input type="checkbox" name=$ug.name />$ug.name</td>
                                $if (i+1) % 5 == 0:</tr><tr>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="创建用户" /></td>
            </tr>
            </form>
        </table>
    </td></tr>

</table>
</body>
</html>