$def with (user, UserGroup, RefreshLog)


<script type="text/javascript" src="static/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="static/js/refresh-log.js"></script>

<script type="text/javascript" charset="utf-8">
        var reqData = {}
        log.refreshLog("#outPrint", '$RefreshLog.URL', reqData, 'GET', 20)
        // log.showLog("#outPrint", '$RefreshLog.URL', reqData, 'GET', 20)
</script>

<table>
<h1>日志输出</h1>
    <!-- 日志输出 -->
        <table  border="1">
            <tr><td>TAG：</td></tr>
            <tr><td id="outPrint">term_output</td></tr>
        </table>
        </br>

</table>