$def with (user, UserGroup, modifUser, ModifUserN, ModifUserPW, AddUG, RemoveUG)

<html>
<body>
$if user.isHavePms(UserGroup.PERMISSION_MODIF_USER):
    <table border="2">
        <caption>修改用户信息</caption>
        <tr>
            <td>
                <!-- 修改用户名 -->
                <table border="1">
                    <form name="input" action=$ModifUserN.URL method="POST">
                        <tr>
                            <th>用户名</th>
                        </tr>
                        <tr>
                            <td><input type="text" name=$ModifUserN.newN value=$modifUser.username /></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="hidden" name=$ModifUserN.uname value=$modifUser.username />
                                <input type="submit" value="修改" />
                            </td>
                        </tr>
                    </form>
                </table>
            </td>
            <td>
                <!-- 修改用户密码 -->
                <table border="1">
                    <form name="input" action=$ModifUserPW.URL method="POST">
                        <tr>
                            <th>密码</th>
                        </tr>
                        <tr>
                            <td><input type="text" name=$ModifUserPW.pw /></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="hidden" name=$ModifUserPW.name value=$modifUser.username />
                                <input type="submit" value="修改" />
                            </td>
                        </tr>
                    </form>
                </table>
            </td>
            <td>
                <!-- 添加用户组 -->
                <table border="1">
                    <form name="input" action=$AddUG.URL method="POST">
                        <tr>
                            <th>添加用户组</th>
                        </tr>
                        <tr>
                            <td>
                                <!-- 列出未加入的用户组 -->
                                $for ug in modifUser.getUnjoinGroups():
                                    <input type="checkbox" name=$ug.name />$ug.name
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="hidden" name=$AddUG.uname value=$modifUser.username />
                                <input type="submit" value="添加" />
                            </td>
                        </tr>
                    </form>
                </table>
            </td>
            <td>
                <!-- 移除用户组 -->
                <table border="1">
                    <form name="input" action=$RemoveUG.URL method="POST">
                        <tr>
                            <th>移除用户组</th>
                        </tr>
                        <tr>
                            <td>
                                <!-- 已经加入的用户组 -->
                                $for ug in modifUser.getUserGroups():
                                    <input type="checkbox" name=$ug.name />$ug.name
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="hidden" name=$RemoveUG.uname value=$modifUser.username />
                                <input type="submit" value="移除" />
                            </td>
                        </tr>
                    </form>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>